{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}密码重置{% endblock %}

{% block content %}
<div class="wrapper">
    <br>
    <br>
    <div class="contanier">
        <div class="contanier-fluid">
            <h3 class="alert alert-primary">密码重置</h3>
        </div>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="row justify-content-center">
            <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">E-mail:</label>
                    <input type="email" class="form-control" id="id_email"  name="email" placeholder="E-mail adress" required="">
                </div>
                <div class="form-group">
                    {% for field in form.visible_fields %}
                    {% for error in field.errors %}
                    <span>{{ field.id_for_label }}: {{error}}</span>
                    {% endfor %}
                    {% endfor %}
                </div>
<!--                {{ form.as_p }}-->
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">提交 &raquo;</button>
                <p>{% blocktrans %}请输入注册时的邮箱，我们将通过邮箱帮您重置密码，如遇到任何问题，欢迎联系我们{% endblocktrans %}</p>
            </form>
        </div>
    </div>

</div>

{% endblock %}
