<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
{% load my_filters_and_tags %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
视频
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
<!--<video id="media" src="" width="640" height="480" controls autoplay="true">您的浏览器不支持 video 标签</video>-->
<div class="container">
    <video id="my_video" src="" style="width: 100%" controls autoplay="true">
        您的浏览器不支持 video 标签
    </video>

    <br/><br/><br/><br/>
    <button>Coward Hero.mp4</button>
    <button>test1_2.mp4</button>
    <button>DestFile.mp4</button>
    <button>mkv_video.mkv</button>
    <button>test_yys.mp4</button>
    <button>sudu.mp4</button>
    <script>
        // jquary变更src
        $(function () {
            $('button').click(function () {
                let test = $(this).text();
                $("#my_video").attr('src', './test_resp/?path=media/video/' + test);
            });
        })
    </script>
</div>


{% endblock content %}